body{
    background-color: aqua;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
button{
    border-radius: 20px;
    border: 50px;
}
img{
    width: 500px;
    height: auto;
}